body {
  background-color: #00cc99;
}
.jumbotron {
    position: top;
    margin-top: 100px;
    background: url("http://cdn.c.photoshelter.com/img-get2/I0000hDCP.rvX68Q/fit=1000x750/am-140206-53531.jpg") center;
    /*width: 100%auto;*/
    background-size:cover;
    /*overflow: hidden;*/
    color: #fff;
}
.day {
  float: left;
  background-color: #f0f5f5;
  margin: 12px;
  padding: 8px 4px 4px 8px;
  border-radius: 8px;
  border: 2px solid black;
  font-family: sans-serif;
  color: #000;
}
.weekday {
  font-weight: bold;
}
.day-heading{
  text-decoration: underline;
  text-decoration-color: #004d3b;
  padding: 12px;
}
.thumbnail {
  margin-bottom: 20px;
  border: 1px solid #004d3b;
  border-radius: 12px;
  padding: 5px;
  width: 125px;
  height: 150px;
}
button {
  margin: 5px 16px 5px;
}
.wiki-thumbnail {
  display: block;
  margin: auto;
}
#wikipedia-project {
  text-align: center;
}
h4 {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #004d3b;
}
.project {
  text-align: center;
}
.lang-list {
  list-style-type: none;
}
#about-me {
  background-color: #e6fff9;
  margin-top: 100px;
  padding-bottom: 5px;
  border-radius: 8px;
  text-align: center;
  font-family: sans-serif;
  border: 2px solid #004d3b;
}
#portfolio-photo {
  display: block;
  margin: auto;
  width: 64%;
  border-radius: 50%;
  border: 3px solid #004d3b;
  margin-bottom: 15px;
}
.intro-words {
  font-weight: bold;
  font-size: 20px;
}
