

body {
  background-color: #00cc99;
}
.nav {
  background-color: #00cc99;
  padding-top: 5px;
  padding-left: 10px;
  z-index: 100;
  position: fixed;
  width: 100%
}
.jumbotron {
  position: top;
  margin-top: 100px;
  background: url("http://cdn.c.photoshelter.com/img-get2/I0000hDCP.rvX68Q/fit=1000x750/am-140206-53531.jpg") center;
  width: 100%;
  background-size:cover;
  overflow: hidden;
  color: #fff;
}
.well {
  margin: 12px;
  border: 2px solid black;
  /*color: #000;*/
}
.day {
  float: left;
  background-color: #f0f5f5;
  /*width: 100%;*/
  margin: 12px;
  padding: 8px 8px 8px 8px;
  border-radius: 8px;
  border: 2px solid black;
  /*color: #000;*/
}
.weekday {
  font-weight: bold;
}
.day-heading{
  text-decoration: underline;
  text-decoration-color: #004d3b;
  padding: 12px;
}
.thumbnail {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  border: 1px solid #004d3b;
  border-radius: 12px;
  width: 140px;
  height: 150px;
}
img.thumbnail:hover {
    box-shadow: 0 0 px 1px pink(0, 140, 186, 0.5);
}
.wiki-thumbnail {
  width: 120;
  height: 150px;
}
button {
  margin: 5px 16px 5px;
}
#wikipedia-project {
  text-align: center;
}
h4.day4-2 {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #004d3b;
}
.wednesday {
  text-align: center;
}
#tuesday-project {
  text-align: center;
}
ul {
  /*text-align: center;
  display: inline-block;*/
  list-style-type: none;
}
#about-me {
  background-color: #e6fff9;
  margin-top: 100px;
  padding-bottom: 5px;
  border-radius: 8px;
  text-align: center;
  font-family: sans-serif;
  border: 2px solid #004d3b;
}
#portfolio-photo {
  display: block;
  margin: auto;
  width: 64%;
  border-radius: 50%;
  border: 3px solid #004d3b;
  margin-bottom: 15px;
}
.intro-words {
  font-weight: bold;
  font-size: 20px;
}
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans')
